@model AdministarRenta.Models.Casa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Casa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad_Cuartos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad_Cuartos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantida_WC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantida_WC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsable.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CasaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
