@model AdministarRenta.Models.Huesped

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Huesped</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAereolin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAereolin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDeLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDeLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantAcompañantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantAcompañantes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HuespedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
